h2 {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.user-card {
  margin-bottom: 2em;
  max-width: 200px;
  width: 100%;

  .mat-card-header {
    text-transform: uppercase;
  }

  .mat-card-content {
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .profile-pic {
    height: 128px;
    width: 128px;
  }

  .mat-card-actions {
    text-align: right;

    .mat-button {
      &:hover {
        color: limegreen;
      }
    }
  }
}
